.App {
  font-family: sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2em 4em;
  color: #000;
  border-radius: 100px 20px 20px 20px;
  -webkit-box-shadow: -1px 6px 46px -25px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -1px 6px 46px -25px rgba(0, 0, 0, 0.39);
  box-shadow: -1px 6px 46px -25px rgba(0, 0, 0, 0.39);
}

h2 {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-align: center;
}

.form-item {
  padding: 0.5em 0;
}

.form-lable {
  display: block;
  padding: 0.4em 0;
  letter-spacing: 1.5px;
}

.form-input {
  border: 2px solid silver;
  padding: 0.5em 0.45em;
  border-radius: 5px;
  font-size: 1.2rem;
}

.form-input:active,
.form-input:focus {
  border: 2px solid black;
}

#error, #email-error{
  display: block;
  color:red;
}

.form-btn {
  margin-top: 1.5em;
  padding: 0.5em 2em;
  width: 100%;
  background: #890fb9;
  border: 0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn:hover {
  background: #7a10a5;
}


